
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome Administrator!</h2>

<p><a asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a></p>
<p><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></p>

