@model HerhalingExamen.Web.ViewModels.HomeIndexVm
@{
    ViewData["Title"] = "Home";
}
@{
    @using Microsoft.AspNetCore.Http;

    var user = Context.Session.GetString("Name");

    if (user != null)
    {
        <h3>Welcome, @user!</h3>
    }
    else
    {
        <h3>Welcome!</h3>
    }
}

<h2>Products :</h2>

@foreach (var product in Model.Products)
{
    <p>@product.Name</p>
    <br />
    <p>@product.Image</p>
    <p>@product.ProductInfo.Description</p>

    <hr />
}